.section {
  display: flex;
  animation: slide var(--speed) linear infinite backwards;
}

.stopScroll {
  animation-play-state: paused;
}

.enlarge {
  transform: scale(1.1);
}

@keyframes slide {
  100% {
    transform: translateX(-100%);
  }
}
